body {
    margin: 0px;
}

.header {
    height: 74px;
    width: 100%;
    text-align: center;
}

.header_1 {
    width: 940px;
    height: 40px;
    display: inline-block;
    margin-top: 17px;
    text-align: left;
}

.name {
    float: left;
    font-family: "Lora";
    font-size: 26px;
    padding-top: 3px;
}

.header_buttons {
    float: right;
    padding-top: 10px;
}

.h_button {
    font-family: "Oxygen";
    padding: 20px;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: rgba(46, 46, 46, 1);
}

.headline {
    width: 940px;
    height: 159px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 89px;
    position: relative;
    text-align: center;
}

.headline_text_1 {
    color: rgba(46, 46, 46, 1);
    position: fixed;
    font-family: "Lora";
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    position: absolute;
    top:-7px;
    left: 0;
    right: 0;
    margin-top: 0;
}

.headline_text_2 {
    font-family: "Oxygen";
    font-size: 17px;
    line-height: 20px;
    color: rgba(46, 46, 46, 0.63);
    padding-top: 64px;
}


.image2 {
    background-image: url("images/2.jpg");
    width: 100%;
    height: 534px;
    border-radius: 3px;
    margin-top: 38px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.text {
    font-family: "Oxygen";
    font-size: 24px;
    line-height: 35px;
    color: rgba(16, 19, 21, 1);
    width: 960px;
    margin: 140px auto 140px auto;
    font-weight: 400;
}

.footer {
    height: 74px;
    width: 100%;
    text-align: center;
    background-image: url("images/1.jpg");
    background-position: center;
    background-size: 100%;
    color: rgba(255, 255, 255, 1);
}

.footer_1 {
    width: 940px;
    height: 40px;
    display: inline-block;
    margin-top: 17px;
    text-align: left;
}

.footer_name {
    float: left;
    font-family: "Lora";
    font-size: 26px;
    padding-top: 3px;
}

.footer_buttons {
    float: right;
    padding-top: 10px;
}

.f_button {
    font-family: "Oxygen";
    padding: 20px;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: rgba(255, 255, 255, 0.6);
}

@font-face {
    /* Oxygen */
    font-family: "Oxygen";  
    src: url("fonts/Oxygen.ttf") format("truetype"); 
} 

@font-face {
    /* Lora */
    font-family: "Lora";  
    src: url("Lora.ttf") format("truetype"); 
}